img {
    border-radius: 10px;
    margin-bottom: 15px;
}

.mt-center-text {
    text-align: center;
}

section {
    margin-bottom: 40px;
}

.mt-fancy-font {
    font-family: 'Great Vibes', cursive;
}

.mt-lemon-font {
    font-family: 'Lemon', cursive;
}

.mt-event-pic {
    width: 570px;
}