.mt-main {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.mt-header {
    color: white;    
    margin-bottom: 10px;
}

.mt-header-img {
    border-radius: 10px;
}

.mt-logout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.mt-guest-name {
    flex: 0;
    margin-bottom: 2px;
}

