.mt-main {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.mt-logout {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 15px;
}

.mt-guest-name {
    flex: 0;
    margin-bottom: 2px;
}

.mt-footer {
    margin-top: 20px;
}
