<h2>{{guest?.welcomeMsg}}</h2>
<h3>Please let us know which of the following events you will be joining us for:</h3>
<button (click)="rsvp()">Save Changes</button>
<div class="rsvp">
<div>
    <p>Coming {{guest?.firstName}}?</p>
<ul>
    <li *ngIf="guest && guest?.gsy_invite === 'yes'" class="rsvp-item">
        <a [routerLink]="['Guernsey']">Guernsey</a>
        <input type="radio" name="rsvpGuernsey" value="yes" (click)="guest.gsy_response = 'yes'" [checked]="guest?.gsy_response === 'yes'">Yes
        <input type="radio" name="rsvpGuernsey" value="no" (click)="guest.gsy_response = 'no'" [checked]="guest?.gsy_response === 'no'">No
    </li>
    <li *ngIf="guest && guest?.sf_invite === 'yes'" class="rsvp-item">
        <a [routerLink]="['SF']">San Francisco</a>
        <input type="radio" name="rsvpSF" value="yes" (click)="guest.sf_response = 'yes'" [checked]="guest?.sf_response === 'yes'">Yes
        <input type="radio" name="rsvpSF" value="no" (click)="guest.sf_response = 'no'" [checked]="guest?.sf_response === 'no'">No
    </li>
    <li *ngIf="guest && guest?.sc_invite === 'yes'" class="rsvp-item">
        <a [routerLink]="['SC']">Santa Cruz</a>
        <input type="radio" name="rsvpSC" value="yes" (click)="guest.sc_response = 'yes'" [checked]="guest?.sc_response === 'yes'">Yes
        <input type="radio" name="rsvpSC" value="no" (click)="guest.sc_response = 'no'" [checked]="guest?.sc_response === 'no'">No
    </li>
</ul>
</div>
<div *ngIf="plusOne">
    <p>{{plusOne?.firstName}} joining?</p>
    <ul>
        <li *ngIf="plusOne && plusOne?.gsy_invite === 'yes'" class="rsvp-item">
            <input type="radio" name="plusOneRsvpGuernsey" value="yes" (click)="plusOne.gsy_response = 'yes'" [checked]="plusOne?.gsy_response === 'yes'">Yes
            <input type="radio" name="plusOneRsvpGuernsey" value="no" (click)="plusOne.gsy_response = 'no'" [checked]="plusOne?.gsy_response === 'no'">No
        </li>
        <li *ngIf="plusOne && plusOne?.sf_invite === 'yes'" class="rsvp-item">
            <input type="radio" name="plusOneRsvpSF" value="yes" (click)="plusOne.sf_response = 'yes'" [checked]="plusOne?.sf_response === 'yes'">Yes
            <input type="radio" name="plusOneRsvpSF" value="no" (click)="plusOne.sf_response = 'no'" [checked]="plusOne?.sf_response === 'no'">No            
        </li>
        <li *ngIf="plusOne && plusOne?.sc_invite === 'yes'" class="rsvp-item">
            <input type="radio" name="plusOneRsvpSC" value="yes" (click)="plusOne.sc_response = 'yes'" [checked]="plusOne?.sc_response === 'yes'">Yes
            <input type="radio" name="plusOneRsvpSC" value="no" (click)="plusOne.sc_response = 'no'" [checked]="plusOne?.sc_response === 'no'">No        
        </li>
    </ul>
</div>
</div>